<!DOCTYPE html>
<html>
<head>
    <title>Image Rotator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Upload Image to Rotate</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required><br><br>
        <label>Rotation Angle (degrees):</label>
        <input type="number" name="angle" value="45" min="0" max="360"><br><br>
        <button type="submit">Upload and Rotate</button>
    </form>
</body>
</html>